:root {
  --base-size: 1rem;
  --base-gap: calc(var(--base-size) / 2);
  --full-height: 100vh;
  --border-radius: 8px;
  --border-rounded: 50%;
  --light-gray: #646464;
  --lightest-gray: #eeecec;
}

html, body {
  margin: 0;
}

html {
  font-size: 16px;
  margin: 0;
  padding: var(--base-gap);
}

* {
  box-sizing: border-box;
}

body {
  /* add pretty fonts later... */
  font-family: sans-serif;
}

.main {
  position: relative;
  height: calc(var(--full-height) - var(--base-size));
  background: linear-gradient(
    to top,
    var(--lightest-gray),
    white
  );
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader__image {
  opacity: .4;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test-image {
  display: block;
  width: 70%;
  height: auto;
}

.users-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.user {
  position: relative;
  width: 7rem;
  height: 7rem;
  padding: .5rem;
  border-radius: var(--border-rounded);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user:not(.user--add):hover::before {
  display: block;
  content: '';
  position: absolute;
  top: -.5rem;
  left: -.5rem;
  right: -.5rem;
  bottom: -3rem;
  box-shadow: 0 0 1px 0 var(--light-gray);
  border-radius: 3px;
  background-color: var(--lightest-gray);
  z-index: 0;
}

.user-login {
  display: none;
  position: absolute;
  padding: .25rem .8rem;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  box-shadow: 0 0 1px 0 var(--light-gray);
  background-color: white;
}

.user:hover .user-login {
  display: block;
}

.user--add {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 275px ease-in;
}

.user--add:hover {
  background-color: var(--light-gray);
}
.user--add:active {
  background-color: black;
}

.user--add svg {
  fill: var(--light-gray);
  width: 50%;
  display: block;
  position: relative;
  transform: translateX(5px);
}

.user--add:hover svg {
  fill: white;
}

.user:not(:last-child) {
  margin-right: var(--base-size);
}

.user-avatar {
  display: block;
  margin: 0;
  user-select: none;
  border-radius: var(--border-rounded);
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.user-avatar__image {
  display: block;
  width: 100%;
  height: auto;
}